<div>
  Bienvenido {{ user.first_name }} {{ user.last_name }}

  <ul>
    <li> {{ user.email}} </li>
    <li> {{ user.age }} </li>
    <li> {{ user.role }}</li>
  </ul>

  <a href="/session/logout"> Cerrar Sesion </a>
</div>