<div>
  <p> Nombre: {{ user.nombre }} </p>
  <p> Apellido: {{ user.apellido }} </p>
  <p> Edad: {{ user.edad }} </p>
  <p> Email: {{ user.correo }} </p>
  <p> Telefono: {{ user.telefono }} </p>
</div>